<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-toolbar>
    <ion-searchbar placeholder="Search for Places"></ion-searchbar>
  </ion-toolbar>

  <div class="header">
    <h2>Categories</h2>
  </div>

  <swiper #swiper class="category">
    <ng-template swiperSlide *ngFor="let category of categories">
      <ion-avatar slot="start" class="center">
        <img [src]="category.coverImage" alt={{category.name}} />
      </ion-avatar>
      <p class="text-center">{{category.name}}</p>
    </ng-template>
  </swiper>

</ion-content>