<ion-tabs>

  <ion-tab-bar>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="location"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourite">
      <ion-icon name="Bookmark"></ion-icon>
      <ion-label>Favourite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="people"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>