<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button >
        <app-favourite-status (toggleFavouriteStatus)="toggleFavourite(place)" [place]="place"></app-favourite-status>
      </ion-button>
    </ion-buttons>
    <ion-title>{{place.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="place.coverImage" alt="{{place.name}}">
  <ion-grid>
    <ion-row class="detail_container">
      <ion-col>
        <ion-card-title>
          <h1>&nbsp;{{place.name}}</h1>
          <ion-chip color="success" *ngFor="let tag of place.tags">
            <ion-label>
              {{tag}}
            </ion-label>
          </ion-chip>
        </ion-card-title>
        <ion-text>
          <ngb-rating [max]="5" [(rate)]="place.rating" [readonly]="true"></ngb-rating>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <strong>Description</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{place.description}}
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="12" *ngFor="let image of place.images">
      <ion-card>
        <img [src]="image.url" alt="{{image.caption}}" class="full_width">
        <ion-card-header>
          <ion-card-title>{{image.caption}}</ion-card-title>
        </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
