.detail_container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  position: relative;
  margin-top: -60px;
}

.toolbar-background{
  background: transparent !important;
  color:#fff !important;
}

.favourite{
color: #ff4961;
}

.full_width{
 width:100%;
}

ngb-rating{
color:gold;
margin-left:8px;
}


