<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="favourite__places">
    <ion-list *ngFor="let place of favouritePlaces">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="place.coverImage" alt="{{place.name}}" class="thumbnail_image">
        </ion-thumbnail>
        <ion-label>
          <ion-title (click)="loadDetail(place)">{{place.name}}</ion-title>
          <ion-chip color="success">
            <ion-label> <ion-icon name="location"></ion-icon> {{place.location}}</ion-label>
          </ion-chip>
          <ion-title size="small">{{place.shortDescription}}</ion-title>
        </ion-label>
        <ion-button color="danger" (click)="removeFromFavourite(place)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
