$font-family: "Poppins", "Gill Sans", "Gill Sans MT";
$heading-color: #121212;
$sub-heading-color: #6f7789;

.top_places ion-title {
    font-family: $font-family;
    padding: 0;
}

.heading {
    font-family: $font-family;
    font-weight: 800;
    margin: 0;
}

.sub-heading {
    font-family: $font-family;
    font-weight: 500;
    margin-top: -10px;
}


.card__header {
    font-size: 14px;
    font-family: $font-family;
    font-weight: bold;
}

.thumbnail_image {
    border-radius: 0.6em;
}

.link {
    text-decoration: none;
    color: #6f7789;
    font-size: 13px;
    float: right;
    justify-items: baseline;
}

ngb-rating {
  color: #FFC107;
  font-size: 18px;
}
