<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title size="large" color="dark" class="heading">Wonderful Roskilde</ion-title>
        <ion-title size="small" color="medium" class="sub-heading">Let’s Explore Together</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip color="primary" *ngFor="let tag of tags">
          <ion-label>{{tag}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper #swiper>
          <ng-template swiperSlide *ngFor="let place of places">
          <app-card [place]="place" (loadDetailPage)="loadDetail(place)" ></app-card>
          </ng-template>
        </swiper>
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col>
       <ion-title>Top Places
         <small>
           <a routerLink="/explore" class="link">View All</a>
         </small>
       </ion-title>
     </ion-col>
    </ion-row>
    <ion-row class="top_places">
      <ion-col>
        <ion-list *ngFor="let place of topPlaces">
          <app-small-card [place]="place" (click)="loadDetail(place)">
          </app-small-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
